.card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.card img {
    max-height: 400px; 
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-text {
    flex-grow: 1;
    max-height: none; /* Remover a limitação de altura */
    overflow: hidden;
}

.btn {
    margin-top: auto;
    background-color: #04457e;
    border: 1px solid #04457e;  
    transition: background-color 0.3s, border-color 0.3s; /* adiciona uma transição suave */
}

.btn:hover {
    background-color: #2c68b9; /* cor mais clara de azul */
    border-color: #2c68b9; /* cor da borda também alterada */
  }

.card-img-top:hover {
transform: scale(1.1);
transition: transform 0.3s ease-in-out;
}

.custom-margin-bottom {
margin-bottom: 2% !important;
}

