/* variables */
:root {
  --font_family: 'Encode Sans', sans-serif;
}
body {
  font-family: var(--font_family);
}

/* drop menu */
.custom-dropdown-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    padding: 0 20px;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    color: var(--color_header_nav_text);
    z-index: 2;
    transition: ease-out 0.2s;
    font-family: var(--font_family);
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #f5f5f5 !important;
}

/* logo */
.custom-logo {
	max-width: 100px; /* Ajuste o tamanho conforme necessário */
	height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* bar top menu */
.top-bar {
  font-family: var(--font_family);
  font-size: .75rem;
  font-weight: 600;
  margin: 5px;
}

/* icons */
.custom-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-icons i {
  font-size: 3.8125rem;
  color: #04457e;
}

.custom-icons span {
  font-size: .8125rem;
  font-weight: 600;
  display: block;
  font-family: var(--font_family);
  color: #565656;
}

.custom-icons p {
  font-size: 0.8125rem;
  font-family: var(--font_family);
  color: #6f6f6f;
}

/* Product link  */
.product_link i{
  margin-top: 5%;
  text-decoration: none !important;
}

.product_link_card {
  text-decoration: none !important;
  transition: transform 0.3s;
  background-color: #f5f5f5 !important;
  border: solid 0;
}

.product_link_card:hover {
  transform: scale(1.1); 
}

.product_link_card h5 {
  font-size: 14px;
  font-weight: 600;
}

/* section title */
.section-header h2 {
  font-size: 1.75rem;
  font-weight: 700; 
  color: #1a1a1a;
  margin-top: 2%;
}

.cemente-card {
  border: solid 0 !important;
}


.cemente-card p {
  flex-grow: 1;
  max-height: 40px;
  font-size: .875rem;
  font-weight: 500;
  font-family: var(--font_family);
  color: #565656;
}

.cemente-card button {
  display: block;
  font-size: 1.375rem;
  font-weight: 600; 
  background-color: #04457e;
  border: 1px solid #04457e;  
  transition: background-color 0.3s, border-color 0.3s; /* adiciona uma transição suave */
}

.cemente-card button:hover {
  background-color: #2c68b9; /* cor mais clara de azul */
  border-color: #2c68b9; /* cor da borda também alterada */
}

.cement-price-description {
  font-size: 0.8125rem !important;
  font-family: var(--font_family) !important;
  color: #6f6f6f !important;
  margin-top: 2%;
}

.institutional a {
  text-decoration: none;
  font-weight: bold;
}

.footer-icon i {
  font-size: 25px;
}

.container-fluid.custom-icons.product_link {
  margin-top: 35px;
}
/* card icon section */
.card_icon_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card_icon_section img {
  margin-top: 4%;
  max-width: 100%;
  max-height: 100%;
}

/* form */
.form-control:focus {
  border-color: #04457e;
  box-shadow: 0 0 0 0.25rem rgba(4, 69, 126, 0.25);
}


/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem */
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; /* cor de fundo da barra de rolagem */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #04457e; /* cor da barra de rolagem */
  border-radius: 6px; /* borda arredondada */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #022c4d; /* cor da barra de rolagem ao passar o mouse */
}

/* Estilos para a barra de rolagem no Firefox */
/* Track */
html {
  scrollbar-color: #04457e #fff; /* cor da barra de rolagem e cor de fundo */
}

/* Handle */
html {
  scrollbar-width: thin; /* largura da barra de rolagem */
}


